@import url(‘https://fonts.googleapis.com/css?family=Open+Sans);




*body{
    margin: 0px;
}

.Main-nav{
    list-style:none;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 0px;
    height: 20px;
}

.title-section{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.Taxi-forum{
    background-image: url("Billeder/Taxa/taxi.jpg");
    border-radius: 5%;
    height: 500px;
    width: 1000px;
    margin: auto;
}

.form{
    padding: 40px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    height: 0px;
    width: 800px;
    margin-top: 340px;
    background-color: white;
    border-radius: 10px;
}

.form label{
    margin-right: 10px;
}

.nav-section li{
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    height: 20px;
}

.Main-nav :hover{
    border-bottom: 5px solid green;
    cursor: pointer;
}

.nav-section{
    margin-top: 25px;
}

.main-header{
    display: flex;
    font-family:Arial, Helvetica, sans-serif
}

.Main-footer{
    background-color:  #05836e;
    width: 1000px;
    margin: auto;
}

.content-section
{
    text-align: center;
    max-width: 700px;
    font-family: 'Open Sans', serif;

}

.sections{
    display: inline-block;
    margin-left: 350px;
}

.footer-sections{
    font-family:Georgia, 'Times New Roman', Times, serif
}

.section{
    display: inline-block;
    margin-left: 2em;
    max-width: 200px;
}

.btn{
    border: none;
    border-radius: 0  10px 10px 0;
    height: 80px;
    width: 110px;
    margin-right: -50px; 
    cursor: pointer;

}

.btn :hover{
    background-color: #05836e;
}

.social-media{
    margin-left: 350px;
    border: 1px solid red;
}


